{% extends "admin/challenges/create.html" %}

{% block header %}
	<div class="alert alert-secondary" role="alert">
		LLM challenges requires admins to mark submissions as solved. Flags are not required. Submissions can be graded from the "LLM Submissions" plugin interface.
	</div>
{% endblock %}

{% block message %}
	<div class="form-group">
		<label>
			Message:<br>
			<small class="form-text text-muted">
				Use this to give a brief introduction to your challenge.
			</small>
		</label>
		<textarea id="new-desc-editor" class="form-control markdown" name="description" rows="10"></textarea>

		<label>
			Pre-Prompt:<br>
			<small class="form-text text-muted">
				Use this as a secret preprompt for your challenge.
			</small>
		</label>
		<textarea id="new-desc-editor" class="form-control markdown" name="preprompt" rows="5"></textarea>
	</div>
{% endblock %}

{% block type %}
	<input type="hidden" name="type" value="llm_verification">
{% endblock %}