{% extends "challenge.html" %}

{% block description %}
    {{ challenge.html }}

    <hr>
    <div x-data="llm_verification">
        <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-new-submission-tab" data-toggle="pill" @click.debounce.500ms="showGenerate()" role="tab">New Submission</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-prev-submissions-tab" data-toggle="pill" @click.debounce.500ms="showSubmissions()" role="tab">Previous Submissions</a>
            </li>
        </ul>

        <div x-data="single_turn_interface" x-show="is_single_turn">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-new-submission" x-show="show_generate">
                    <div class="tab-content">
                        <textarea id="challenge-prompt" class="challenge-input mb-3" type="text" name="answer" placeholder="Prompt" rows="5" x-model="prompt"></textarea>
                        <div class="row submit-row">
                            <div class="col-12 col-sm-4 mt-3 mt-sm-0 key-submit">
                                <button id="challenge-generate" class="challenge-submit btn btn-outline-secondary w-100 h-100" type="submit" @click.debounce.500ms="generateText()">Generate</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="tab-content">
                        <textarea id="challenge-generated" class="challenge-input mb-3" type="text" name="answer" placeholder="Generated Text" x-model="generated_text" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div x-data="multi_turn_interface" x-show="is_multi_turn">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-new-submission" x-show="show_generate">
                    <div class="tab-content">
                        <textarea id="challenge-generated" class="challenge-input mb-3" type="text" name="answer" placeholder="Generated Text" x-model="generated_text" readonly></textarea>
                    </div>
                    <br>
                    <br>
                    <div class="tab-content">
                        <textarea id="challenge-prompt" class="challenge-input mb-3" type="text" name="answer" placeholder="Prompt" rows="5" x-model="prompt"></textarea>
                        <div class="row submit-row">
                            <div class="col-12 col-sm-4 mt-3 mt-sm-0 key-submit">
                                <button id="challenge-generate" class="challenge-submit btn btn-outline-secondary w-100 h-100" type="submit" @click.debounce.500ms="generateText()">Generate</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row submit-row" x-show="show_submit">
            <div class="col-12 col-sm-4 mt-3 mt-sm-0 key-submit">
                <button
                    id="challenge-submit"
                    class="challenge-submit btn btn-outline-secondary w-100 h-100" type="submit"
                    @click.debounce.500ms="submitGenerated()"
                >
                {% trans %}Submit{% endtrans %}
                </button>
            </div>
        </div>

        <div class="completion">
            <div x-show="show_submit">
                <h2>Models Left</h2>
                    <template x-for="model in models_left">
                        <p x-text="model"></p>
                    </template>
            </div>
            <div x-show="show_done">
                <h2>All Models Done!</h2>
            </div>
        </div>

        <div x-show="show_submissions">
            <div class="row">
                <div class="col-md-12" id="challenge-submissions"></div>
                <h2>Submissions</h2>
                <template x-for="submission in submissions">
                    <div>
                        <hr>
                        <b>Model:</b><p x-text="submission.model"></p>
                        <b>Prompt:</b> <p x-text="submission.prompt"></p>
                        <b>Generation:</b> <p x-text="submission.text"></p>
                        <small class="text-muted" x-text="submission.status"></small>
                        <br>
                        <small class="text-muted" x-text="submission.date"></small>
                        <br>
                        <div x-html="submission.fragment"></div>
                    </div>
                </template>
            </div>
        </div>
    </div>
{% endblock %}

{% block input %}
{% endblock %}
{% block submit %}
{% endblock %}