{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h1>Challenges</h1>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <table id="teamsboard" class=" table table-striped">
          <thead>
            <tr>
              <td class="text-center"><b>ID</b></td>
              <td><b>Challenge</b></td>
              <td><b>Solutions</b></td>
              <td class="text-center"><b>Generations</b></td>
              <td class="text-center"><b>Grade</b></td>
              <td class="text-center"><b>View</b></td>
            </tr>
          </thead>
          <tbody>
            {% for chal in challenges %}
            <tr class="{{ chal.status }}">
              <td class="text-center" id="{{ chal.id }}">
                {{ chal.id }}
              </td>
              <td class="team" id="{{ chal.id }}">
                <div class="name">{{ chal.name }}</div> <div class="desc" id="{{ chal.id }}" hidden>{{ chal.description }}</div> <div class="preprompt" id="{{ chal.id }}" hidden>{{ chal.preprompt }}</div>
              </td>
              <td class="chal" id="{{ chal.id }}">
                 <a href="/admin/llm_submissions/solved?challenge_id={{ chal.id }}">Solutions</a>
              </td>
              <td>
                <a href="/admin/llm_submissions/generations?challenge_id={{ chal.id }}">Generations</a>
              </td>
              <td class="prompt" id="{{ chal.id }}">
                <a href="/admin/llm_submissions/pending?challenge_id={{ chal.id }}">Grade</a>
              </td>
              <td class="text-center">
                <span class="view-challenge" data-toggle="tooltip" data-placement="top"
                  title="view challenge #{{ chal.id }}">
                  <i class="far fa-comment"></i>
                </span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if page_count > 1 %}
        <div class="text-center">Page
          <br>
          {% if curr_page != 1 %}
          <a href="?page={{ curr_page - 1 }}">&lt;&lt;&lt;</a>
          {% endif %}
          {% for page in range(1, page_count + 1) %}
          {% if curr_page != page %}
          <a href="?page={{ page }}">{{ page }}</a>
          {% else %}
          <b>{{ page }}</b>
          {% endif %}
          {% endfor %}
          {% if curr_page != page_count %}
          <a href="?page={{ curr_page + 1 }}">&gt;&gt;&gt;</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}

  {% block scripts %}
	{% if request.script_root %}
		<script defer src="/{{ request.script_root }}/plugins/llm_verification/assets/llm_challenges.js"></script>
	{% else %}
		<script defer src="/plugins/llm_verification/assets/llm_challenges.js"></script>
	{% endif %}
{% endblock %}