{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1>LLM Verification Routes</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li><a class="nav-link" href="/admin/llm_submissions/pending">Submissions Pending Grading</a></li>
                <li><a class="nav-link" href="/admin/llm_submissions/generations?status=correct">Successful Submissions</a></li>
                <li><a class="nav-link" href="/admin/llm_submissions/generations">All Generations</a></li>
                <li><a class="nav-link" href="/admin/llm_submissions/challenges">Challenges</a></li>
            </ul>
        </div>
    </div>
</div>  

{% endblock %}